@use "./palette";

.container {
  border-radius: 24px;
  padding: 28px;
  margin: 0 1vw;
  // background-color: palette.$color-bg-dark;
  // box-shadow: -1px 1px rgb(palette.$color-text, 0.1) inset;
  // height: calc(100vh - 150px);
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: start;

  // TODO use this if flex doesn't work
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
}
