/* TODO fix this font issue - workaround, use embedded fonts */
$weight-light: "200";
$weight-med: "600";
$weight-heavy: "900";

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
    url("../assets/fonts/DM_Sans/static/DMSans-Black.ttf") format("truetype");
}
