@use "./palette";
@use "./fonts";

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    margin: 10px 0;
    padding: 6px 85px;
    border-radius: 25px;
    background-color: palette.$color-main;
    color: palette.$color-text;
  }

  .content > Button {
    border-radius: 24px;
    padding: 8px 15px;
    margin: 0 4px;
  }

  .selected {
    background-color: palette.$color-secondary;
  }
}
