@use "./styles/fonts";
@use "./styles/header";
@use "./styles/container";
@use "./styles/palette";
@use "./styles/widget";
@use "./styles/todo";

body {
  margin: 0;
  font-family: Big John, Slim Joe;
  background-color: palette.$color-bg-light;
  // display: flex;
  // flex-direction: column;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  box-sizing: border-box;
}
